<% if @incomes.present? %>
  <div class="row flex-nowrap result-data">
    <ul class="col-sm-2">
      <li>大項目</li>
    </ul>
    <% Result.result_income_and_payment(@incomes).each do |date, income_values| %>
      <ul class="col-sm-2">
        <li><%= date %></li>
        <% income_values.each do |item_name, income_value| %>
          <li><%= income_value %></li>
        <% end %>
      </ul>
    <% end%>
  </div>
<% end %>

<% if @incomes.present? %>
  <div class="row flex-nowrap result-data">
    <ul class="col-sm-2">
      <li>大項目</li>
    </ul>
    <% Result.result_income_and_payment(@payments).each do |date, income_values| %>
      <ul class="col-sm-2">
        <li><%= date %></li>
        <% income_values.each do |item_name, income_value| %>
          <li><%= income_value %></li>
        <% end %>
      </ul>
    <% end%>
  </div>
<% end %>