<div class="stepper">
  <div class="stepper-items">
    <h2 class="stepper-title">Step1</h2>
    <p class="stepper-desc">登録をしよう</p>
  </div>
  <div class="stepper-items">
    <h3 class="stepper-title">Step2</h3>
    <p class="stepper-desc">結果を見よう</p>
  </div>
  <div class="stepper-items">
    <h3 class="stepper-title">Step3</h3>
    <p class="stepper-desc">振返り・確定をしよう</p>
  </div>
  <div class="stepper-items">
    <h3 class="stepper-title">Step4</h3>
    <p class="stepper-desc">1〜3を繰返して使おう</p>
  </div>
</div>

<div class="flow">
  <ul class="flow-items">
    <li>
      <h2>Step1 登録の手順</h2>
      <p>1 上部メニューバーの『登録』をクリック</p>
      <p>2 お金の場所を登録(今あるお金を種類ごとに金額を登録する。)</p>
      <p>3 収入と支払につける詳細項目の作成（より細かく分類します。）</p>
      <p>4 収入と支払を登録（いつ、どれくらいの金額、どんな種類のものが、どこのお金か選んで入力）</p>
    </li>
    <li>
      <h2>Step2 結果を見る方法</h2>
      <p>1 上部メニューバーの『予測の結果』をクリック</p>
      <p>2 登録したお金の場所に予想した収入と支払が計算をしてくれています</p>
    </li>
    <li>
      <h2>Step3 振返りの方法</h2>
      <p>1 上部メニューバーの『振替り・残高の確定』をクリック</p>
      <p>2 確定させたい日付を選択</p>
      <p>3 確定させる日付のお金の金額を入力する</p>
    </li>
    <li>
      <h2>Step4 1〜3の繰り返し</h2>
      <p>確定した日から1から3を繰り返す</p>
    </li>
  </ul>
</div>