/* 確定ページの設定*/
.actual-flame {
  margin-top: 100px;
}

.actual-date-form {
  text-align: left;
}

/* 確定ページの設定ここまで*/

/* 結果ページの設定*/
.result-data {
  margin-top: 80px;
  white-space: nowrap;
  overflow: scroll;
}

.result-title {
  margin-bottom: 20px;
  border-bottom: solid 3px #036635;
  position: sticky;
  left: 0;
}

.result-box {
  display: flex;
  flex-direction: row;
}

.result-item-name-box {
  display: flex;
  flex-flow: column;
  position: sticky;
  left: 0;
  z-index: 444;
}

.item-names {
  display: flex;
  flex-direction: row;
  width: 200px;
}

.item-name {
  width: 200px;
}

.result-value-box {
  display: flex;
  flex-flow: column;
}

.result-item {
  width: 100px;
}

.result-item-row {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.result-detail-item {
  flex-direction: column;
  display: flex;
}

.item-button {
  display: flex;
  flex-direction: row;
}

.detai-item-box {
  border-bottom: solid 2px #ccc;
}

.result-detail-item-name {
  margin-left: 20px;
}

.money-place-names {
  width: 200px;
}

/* 結果ページの設定ここまで*/

/* 登録フォームの設定*/
.regi-title {
  margin-top: 30px;
  border-bottom: solid 3px #036635;
}

.regi-title h1 {
  font-size: 30px;
}

.regi-label-name {
  font-size: 16px;
  text-align: left;
  font-weight: 600;
  margin: 0;
}

.registraion-flame {
  text-align: center;
  float: center;
}

.regi-form {
  font-size: 16px;
  height: 32px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
}

.regi-form-right {
  font-size: 16px;
  height: 32px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  direction: rtl;
}

.regi-button {
  margin-top: 32px;
  margin-bottom: 24px;
  color: #fff;
  background-color: #036635;
  border-radius: 22px;
  height: 44px;
  font-size: 17px;
}

.regi-form-item {
  float: left;
}

.regi-item {
  margin-bottom: 12px;
}

.regi-select-box {
  width: 150px;
}

.regi-menu {
  margin-bottom: 70px;
  background-color: #F7F6F6;
  height: 80px;
}

/* 登録フォームの設定ここまで*/

/* 登録一覧の設定*/
.table-title {
  text-align: center;
}

.regi-table {
  margin-top: 20px;
}

/* 登録一覧の設定ここまで*/

/* ヘッダーの設定*/
.sitename {
  font-size: 30px;
}

.nav-link {
  margin-right: 35px;
}

.login-user-name {
  text-align: right;
}

body a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
}

.header {
  padding: 0;
  border-bottom: solid 3px #c8c7cc;
}

.up-header {
  background-color: #fff;
}

.down-header {
  background-color: #fff;
  padding: 0;
}

.down-header-item {
  margin-left: 30px;
}

.up-header-menu {
  text-align: right;
}

.up-header-menu span {
  font-size: 16px;
  color: #333;
  padding-right: 15px;

}

/* ヘッダーの設定ここまで*/

/* ユーザーのログイン*/
.user-label-name {
  font-size: 16px;
  text-align: left;
  font-weight: 600;
  margin: 0;
}

.user-button {
  margin-top: 32px;
  margin-bottom: 24px;
  color: #fff;
  background-color: #036635;
  border-radius: 22px;
  height: 44px;
  font-size: 17px;
}

.user-form {
  font-size: 16px;
  height: 32px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
}

.user-links {
  color: #036635;
}

.user-title {
  margin-bottom: 30px;
}

/* ユーザーのログインここまで*/

/* トップページ*/
.stepper {
  display: flex;
  flex-wrap: wrap;
}

.stepper-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.stepper-items:before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 1rem auto 0;
  background-color: #036635;
}

.stepper-items:not(:last-child)::after {
  content: "";
  position: relative;
  top: 2.4rem;
  left: 50%;
  height: 2px;
  background-color: #e0e0e0;
  order: -1;
}

.flow-items {
  list-style: none;
  padding: 0 10px 15px 10px;
  margin: 5%;
  border: 2px solid #e8e8e8;
  background-color: #b4ddc0;
  border-radius: 15px;
}

.flow-items::before {
  content: "";
  display: block;
  padding: 20px;
  background-color: #b4ddc0;
}

.flow-items li {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 20px;
  border: 2px solid #e8e8e8;
  background-color: #fff;
  border-radius: 10px;
  text-align: left;
  position: relative;
}

.flow-items p {
  margin: 0;
}

.flow-items li:not(:last-child) {
  margin-bottom: 50px;
}

.flow-items li:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 21.7px 12.5px 0 12.5px;
  border-color: #036635 transparent transparent transparent;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
  text-align: center;
  display: block;
}

/* トップページここまで*/

/* フッターの設定*/
.footer {
  background-color: #F7F6F6;
  text-align: center;
  margin-top: 100px;
}

/* フッターの設定ここまで*/

/* 全体の設定*/
.card {
  background-color: #F7F6F6 !important;
}

/* 全体の設定 ここまで*/