/* 全体の設定*/
body {
  background-color: #F3F3F2 !important;
}

/* 全体の設定 ここまで*/

/* 結果ページの設定*/
.result-data li {
  list-style: none;
}

.result-title {
  border-bottom: solid 3px #036635;
  margin-bottom: 20px;
}

.result-data {
  margin-bottom: 50px;
}

/* 結果ページの設定ここまで*/

/* 登録ページの設定*/
.table-title {
  text-align: center;
}

.regi-table {
  margin-top: 20px;
}

.regi-title {
  margin-top: 30px;
  border-bottom: solid 3px #036635;
}

.regi-title h1 {
  font-size: 30px;
}

.regi-label-name {
  font-size: 16px;
  text-align: left;
  font-weight: 600;
  margin: 0;
}

.registraion-flame {
  text-align: center;
  margin: 0;
  float: center;
}

.regi-form {
  font-size: 16px;
  height: 32px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
}

.regi-form-right {
  font-size: 16px;
  height: 32px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  direction: rtl;
}

.regi-button {
  margin-top: 32px;
  margin-bottom: 24px;
  color: #fff;
  background-color: #036635;
  border-radius: 22px;
  height: 44px;
  font-size: 17px;
}

.regi-form-item {
  float: left;
}

.regi-item {
  margin-bottom: 12px;
}

.regi-select-box {
  width: 150px;
}

/* 登録ページの設定ここまで*/


/* ヘッダーの設定*/
.sitename {
  font-size: 30px;
}

.nav-link {
  margin-right: 35px;
}

.login-user-name {
  float: right
}

.container-fluid {
  border-bottom: solid 1px #c8c7cc;
}

body a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
}

.header {
  margin-bottom: 70px;
}

/* ヘッダーの設定ここまで*/

/* コンテンツの設定*/
/* コンテンツの設定 ここまで*/

/* ユーザーのログイン*/
.user-label-name {
  font-size: 16px;
  text-align: left;
  font-weight: 600;
  margin: 0;
}

.user-button {
  margin-top: 32px;
  margin-bottom: 24px;
  color: #fff;
  background-color: #036635;
  border-radius: 22px;
  height: 44px;
  font-size: 17px;
}

.user-form {
  font-size: 16px;
  height: 32px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
}

.user-links {
  color: #036635;
}

.user-title {
  margin-bottom: 30px;
}

/* ユーザーのログインここまで*/