/* 結果ページの設定*/
.result-data li {
  list-style: none;
}

.result-title {
  border-bottom: solid 3px #036635;
  margin-bottom: 20px;
}

.result-data {
  margin-bottom: 50px;
}

/* 結果ページの設定ここまで*/

/* 登録ページの設定*/
.table-title {
  text-align: center;
}

.regi-table {
  margin-top: 20px;
}

.regi-title {
  margin-top: 30px;
  border-bottom: solid 3px #036635;
}

/* 登録ページの設定ここまで*/


/* ヘッダーの設定*/
.sitename {
  font-size: 30px;
}

.nav-link {
  margin-right: 35px;
}

.login-user-name {
  float: right
}

.container-fluid {
  border-bottom: solid 1px #c8c7cc;
}

body a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: none;
}

.header {
  margin-bottom: 70px;
}

/* ヘッダーの設定ここまで*/

/* コンテンツの設定*/
.main-content {
  background-color: #fff;
}

.registraion-flame {
  text-align: center;
}

.registraion-form {
  padding: none;
}

/* コンテンツの設定 ここまで*/

/* 全体の設定*/
/* 全体の設定 ここまで*/