<nav class="navbar justify-content-start regi-menu">
  <%= link_to "収入・支払", new_income_and_payment_path, class: "col-2 regi-menu-item"%>
  <%= link_to "お金の場所", new_money_place_path, class: "col-2 regi-menu-item"%>
  <%= link_to "詳細項目", new_detail_item_path, class: "col-2 regi-menu-item"%>
</nav>