<nav class="nav nav-pills flex-column flex-sm-row">
  <%= link_to "収入・支払", new_income_and_payment_path, class: "flex-sm-fill text-sm-center nav-link"%>
  <%= link_to "お金の場所", new_money_place_path, class: "flex-sm-fill text-sm-center nav-link"%>
  <%= link_to "詳細項目", new_detail_item_path, class: "flex-sm-fill text-sm-center nav-link"%>
</nav>