<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "収入・支払", new_income_and_payment_path, class: "nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "お金の場所", new_money_place_path, class: "nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "詳細項目", new_detail_item_path, class: "nav-link"%>
  </li>
</ul>